[2015-08-25 17:27] ocdtrekkie opened #1 "Long version numbers aren't displayed correctly."
See WordPress on my 1600x1200 screen: https://apps.sandstorm.io/app/aax9j672p6z8n7nyupzvj2nmumeqd4upa0f7mgu8gprwmy53x04h

![issue](https://cloud.githubusercontent.com/assets/4399499/9474175/9c81020c-4b24-11e5-8ce5-6869f9c1b108.PNG)

[2015-08-25 17:30] ocdtrekkie commented on #1
A long version tag should probably truncate, but hovering over it should display the full version? Though at least in this view, it seems like there's enough space to the left for this field to be wider.

[2015-08-25 23:53] mquandalle opened #2 "Meteor.isServer dead blocks"
The different files in `sandstorm-app-market/app/client/collections/` contains `if (Meteor.isServer)` blocks in which allow and deny rules are defined. Since these files are in a `client/` directory these allow and deny rules are not enforced.

This can't be exploited because all database queries are executed inside meteor methods, so I guess you could just remove these dead block altogether.

[2015-08-31 01:37] ocdtrekkie opened #4 "Reviews cut off weirdly, and can't expand?"
![reviewcutoff](https://cloud.githubusercontent.com/assets/4399499/9570664/df4c8f80-4f56-11e5-8432-cf1831a08afd.png)
I can't see the rest of this review.

[2015-09-02 21:02] ocdtrekkie opened #7 "[Trivial] App Market Favicon in Edge is hard to see"
Inane Edge-specific reports continue. :D

Alpha/Oasis (Chrome and Edge): Black Sandstorm logo
App Market (Chrome): Purple Sandstorm logo
App Market (Edge): White Sandstorm logo (barely visible on default light background)

[2015-09-03 01:31] ocdtrekkie opened #9 "Feature Request: Link to licenses"
Ideally, the license field should link to the full text of a license. For bonus points, hovering over the license could show a tosdr-style summary of the license in question.

[2015-09-03 01:38] ocdtrekkie commented on #9
Also, a hub page linking to these would also then be an awesome helper to link developers to in the publishing guide to help them decide on a license.

[2015-09-09 01:03] kentonv commented on #2
Yeah, the app market code went through some turbulence shortly before launch. We were originally storing the app index inside Mongo and having the submission process go through a UI built into the app market, but then I got really scared of what would happen if there were any security bugs in the app market that could allow people to rewrite Mongo entries, so I built a whole new pipeline where the

[2015-09-09 02:46] mquandalle commented on #2
The fact that we miss a good mutation model in Meteor (and that allow/deny vs methods both have tradeoffs) is a bit sad. I tried [something new](https://github.com/wekan/wekan/commit/45b662a1ddb46a0f17fab7b2383c82aa1e1620ef) and it feel like a good solution to me, I hope to write a blog post about the underlined ideas of this pattern next week.

[2015-09-09 02:51] kentonv commented on #2
My general feeling is that methods should always be preferred over allow/deny, because methods capture specific actions / intent, making them much easier to review, especially for security concerns. My main problem with methods is that they aren't object-oriented; essentially the server is one big object implementing all the methods. Eventually we hope to move from DDP to Cap'n Proto RPC, at least

[2015-09-09 03:07] kentonv commented on #7
Is it possible the favicon is cached from before we changed it? I thought we replaced all the white favicons with purple in one go in 018ad0f.

[2015-09-09 03:14] ocdtrekkie commented on #7
Seems likely. Tried a different Edge machine, and it's fine.

[2015-09-09 03:14] #7 closed

[2015-09-09 23:02] neynah commented on #4
I agree that this needs to be fixed.

[2015-09-09 23:07] neynah opened #10 "Top left Sandstorm logo should go to App Market home. Consider also changing text from Sandstorm.io to "App Market""
Top left logos typically take users the the home page of the website they are on. Currently clicking on the logo goes to www.sandstorm.io which was unexpected for our User 2 tester. The user spent much time exploring www.sandstorm.io to find App Market features, only to be derailed.

[2015-09-09 23:31] ocdtrekkie commented on #10
I agree this was kinda confusing to me as well. There _is_ a clear button for "App Market" there below Sandstorm.io, but it's instinct to click the logo in the top left corner to go to a site's home, which in this case, is the app market.

Suggested alternative: Put the App Market combined logo/branding/whatever in the top left corner, and maybe the Sandstorm.io logo/link in the bottom left corner

[2015-09-09 23:55] neynah opened #11 "Make app categories more colourful / visible"
Possibly remove them from the top and have them in the left-sidebar instead of the current sidebar items that exist there. I see categories as the fastest / most effective way to navigate through apps. (I'll work on mock-ups)

[2015-09-09 23:57] neynah opened #12 "Search should also search descriptions"
It seems to only search app titles at the moment.

[2015-09-09 23:59] neynah opened #13 "Restyle search bar for greater visibility"
I'll likely lighten the colour of the search button and change the input background to a lighter colour.

[2015-09-10 00:03] neynah commented on #10
I'm not yet certain about the placing of the new sandstorm.io link but I think that's a good suggestion.

[2015-09-10 00:07] neynah opened #14 "Improve contrast/legibility issues"
Possibly:
- Increase the size (and maybe weighting) of the app titles
- darken the short description
- darken the "be the first to rate"
- adjust the line-height of the short description as it is strangely close to the % rating

(I will make these fixes and test by seeing if I can still read with squinted eyes)

[2015-09-10 00:14] neynah opened #15 "Arrows for reviews and screenshots should not always display"
Arrows should only display when there are more items to be seen/scrolled through.

![image](https://cloud.githubusercontent.com/assets/855341/9777223/35b46d0e-5716-11e5-8af2-3ca904d51269.png)

[2015-09-10 00:16] neynah opened #16 "Padding & margin tweaks need to be made"
I plan on cleaning up the padding so that things display more uniformly. This looks off to me:

![image](https://cloud.githubusercontent.com/assets/855341/9777262/86ef1534-5716-11e5-9650-0d55394a4859.png)

[2015-09-10 00:20] neynah opened #17 "Increase line height of description text for readability"
For descriptions on the individual app page, I may set the line height to 2.7rem.

[2015-09-10 00:32] neynah opened #18 "Replace user review thumb icon with other thumb icon"
I didn't design the purple thumb icon currently there so I'm not confident we can use that.

![image](https://cloud.githubusercontent.com/assets/855341/9777378/82e05e9c-5718-11e5-8f3d-bfa2c42c39fa.png)

[2015-09-10 01:15] neynah opened #19 "Text displays differently for Hacker CMS"
Inconsistent with all other apps (also looks wrong)
![image](https://cloud.githubusercontent.com/assets/855341/9777921/9c490d1a-571e-11e5-9cff-80c8247985c5.png)

This is what it should look like:
![image](https://cloud.githubusercontent.com/assets/855341/9777926/c1ab7886-571e-11e5-8528-a081bced4b8b.png)

[2015-09-10 06:55] kentonv commented on #9
We can pretty easily arrange to link these to the respective OSI pages.

[2015-09-10 18:14] neynah opened #20 "There should be an animation for hover on app icon/items"
Currently it's not very obvious that clicking on the app icon will take you somewhere else compared to the "Install" button.

[2015-09-13 06:51] ocdtrekkie opened #21 ""Upload an app" button is misleading/behavior is unexpected"
This should probably be renamed to something else, because I'd expect to get an Upload form here. Also, consider having a landing page here that explains that publishing is done from the command line, and link to the guide, rather than having a top level menu option pull you to a Github wiki/Sandstorm docs article. (Kinda like #10)

(Also, the app publishing guide is basically ready for docs.sands

[2015-09-14 23:32] ocdtrekkie opened #22 "Changelogs should be reachable from the app market"
If I'm going to update an app, I want to know why I should before I update it.

[2015-09-16 17:58] neynah commented on #17
Resolved: 1f4da03

[2015-09-16 18:02] neynah commented on #21
Yeah I updated the link in d56b48a but I should also change the text to something more like "Submit an App" and replace the upload icon with a document one. A landing page within the app market I think is a good idea.

[2015-09-16 18:03] neynah commented on #14
Resolved: 1f4da03

[2015-09-16 18:03] #14 closed

[2015-09-17 00:18] neynah opened #27 "Link behaviours within descriptions on app items"
Is it weird that if you happen to click the link "sharing interface" within the description text it takes you to the link URL instead of the WordPress app page?

Try here: https://apps.sandstorm.io/genre/Web%2520Publishing

[2015-09-17 00:44] zarvox commented on #27
I don't find that weird, but I do find weird that the whole rectangle is in fact a link but doesn't indicate that by a hover state in any way, and that the rest of the text is not highlightable because it's actually a button.

I'd make the icon be the clickable button, and change background on hover, and then make the rest of the text not a click target.

[2015-09-18 00:50] neynah commented on #22
Yeah, the initial proposal displays version details below the descriptions. What are your thoughts on this? I can't remember why we haven't implemented it but I think we should at some point.

![sandstorm-appmarket-singleapp2v3](https://cloud.githubusercontent.com/assets/855341/9949623/139e825a-5d64-11e5-8b34-daf2e0d80e8d.png)

[2015-09-18 00:52] ocdtrekkie commented on #22
That's totally good with me. I dunno if I remembered seeing that in a mockup or not. But that's exactly what we need.

[2015-09-18 22:35] kentonv commented on #27
Hmm, I think the whole box should be a click target, but sub-targets within it should have additional hover behavior to make it clear that they are separate.

[2015-10-02 04:19] timmc opened #29 "Review length limit should be explicit (validation is misreported)"
When I try to leave a long review, the Submit button goes disabled after I've typed for a while, and it is very mysterious about this -- if I hover the Submit button, I see a flyout saying that I need to select a rating, which I already have!

I think this is 1) a bug in the validation that assumes that only one thing can go wrong with a review/rating, and 2) a UI problem that the character limit

[2015-10-02 20:54] kentonv commented on #29
How strange! We also have the problem that only the first couple sentences of review text get displayed at all once you post, even if you're under the size limit.

Fixing these things should be fairly easy for someone new to the project. ;) Otherwise it might be a while before we get to this, unfortunately. But thanks for reporting!

[2015-10-08 22:20] zarvox commented on #4
+1; I hit this today.

[2015-10-08 22:22] zarvox opened #30 "App publishers should be able to receive emails when people leave reviews of their app"
And quite possibly this should be enabled by default, lest no one will ever discover it or learn that someone wrote back about their app.

[2015-10-08 22:31] ocdtrekkie commented on #30
There is a valid question of how someone should be able to respond or reply to a commenter, somehow, at some point. I saw one comment on an app I published that's, as far as I know, inaccurate. While I don't really expect to respond visibly on the store page, I'd at least like a handy way to send the commenter an answer or clarification that they'd get by email?

[2015-10-14 00:11] neynah commented on #13
Resolved #23

[2015-10-14 00:11] #13 closed

[2015-10-14 00:12] neynah commented on #12
In general we should make improvements to the app market search. User typed "content management" and was expecting to be able to find WordPress.

[2015-10-14 00:39] neynah commented on #11
Resolved #23

[2015-10-14 00:39] #11 closed

[2015-10-14 00:40] neynah opened #31 "Hide Login (currently in sidebar)"
There's no reason to login before doing anything and it takes up unnecessary space.

In addition, users testing found it confusing as nothing in the UI changed after they logged in.

[2015-10-14 01:44] neynah opened #32 "Ctrl + Click on Apps does not open new tab"
This behaviour is expected and it would be awesome if the app did open in a new tab! :)

[2015-10-14 01:47] dwrensha commented on #32
Yes! +1

[2015-10-14 01:48] dwrensha commented on #32
I want to be able to shop around for apps by opening one app page per browser tab. The current setup does not allow that.

[2015-10-14 14:53] ocdtrekkie commented on #32
This is synonymous effectively, with inability to right click the link or see the URL you're going to, etc. Making the app boxes <a> links, effectively, is what we need, AFAIK.

[2015-10-15 14:44] ocdtrekkie opened #33 "Maybe some sort of feature tagging"
One thing I was wondering is if the metadata and the market should support some sort of tagging for app features or platform support users may specifically be looking for. Much like how we expect/hope to someday soon be able to filter for open source apps only, or whatever.

For instance, @ndarilek might appreciate if apps could specify in their manifest that they're screen reader friendly. (And b

[2015-10-15 19:52] jparyani opened #34 "Have a "report issues" button somewhere"
We don't really have a field in the metadata other than author's email to direct people to. We could potentially special case github/gitlab/whatever source links and point people to issue trackers there instead.

[2015-10-15 20:54] ocdtrekkie commented on #34
I am +1 on /issues for Github repos and such where applicable.

[2015-10-15 20:57] jparyani commented on #34
I do worry that people will have /issues disabled on github (since that's the default for forks, and I know I forget all the time), so we may have to an additional check for that unfortunately.

[2015-10-15 20:59] ocdtrekkie commented on #34
That's true. It may make sense to add an optional issue tracker field in metadata too, though I think if we handle GitHub well, 90% of apps are probably all set.

[2015-11-17 19:42] jparyani opened #35 "Change the page title when navigating to apps"
E.g. https://apps.sandstorm.io/app/h37dm17aa89yrd8zuqpdn36p6zntumtv08fjpu8a8zrte7q1cn60 should have a title like "Etherpad - Sandstorm App Market" instead of just "Sandstorm App Market".

[2015-12-31 01:54] ocdtrekkie opened #36 "Provide an RSS feed for new apps and app updates"
Self-explanatory, I wanna be able to subscribe to knowing about new apps and app updates.

[2015-12-31 01:55] ocdtrekkie commented on #36
A Twitter feed or something might also not be a bad idea, but RSS in particular appeals a standard. That can then be tweeted.

[2016-01-13 02:17] #31 closed

[2016-01-14 00:53] jadeqwang opened #40 "large left margin looks awkward"
I think this probably has something to do with the left-nave that used to be there, but here's what it looks like for me.

![image](https://cloud.githubusercontent.com/assets/1584904/12312668/149d07bc-ba16-11e5-89b6-d43e985b2cdb.png)

[2016-01-19 18:33] paulproteus commented on #21
The button is now entirely removed; per @neynah 's request I am closing

[2016-01-19 18:33] #21 closed

[2016-01-19 18:34] neynah commented on #10
Fixed!

[2016-01-19 18:34] #10 closed

[2016-01-19 18:35] neynah commented on #17
Fixed

[2016-01-19 18:35] #17 closed

[2016-01-19 18:40] kentonv opened #41 "Empty space where sidebar used to be"
There's a big empty space on the left at all non-mobile sizes. The sidebar used to be in that space, but now it looks weird. I think that the space wasn't there after @paulproteus' first change, but then was re-introduced when fixing the top bar genre list (but I'm not sure).

![screenshot from 2016-01-19 10-38-59](https://cloud.githubusercontent.com/assets/4001805/12428335/e40fc8aa-be98-11e5-987d

[2016-01-19 18:41] paulproteus commented on #41
Would you say the best fix is to move "Featured apps" almost all the way to the left? If so, that should be reasonably easy to do.

My goal was to align the "Featured apps" text with left-padding location of the Sandstorm icon in the top-left. I see here I didn't achieve that.

[2016-01-19 18:42] kentonv commented on #41
I defer to @neynah on what the final layout should be.

[2016-01-25 22:41] neynah commented on #41
Fixed by #43

[2016-01-25 22:41] neynah commented on #40
Fixed by #43

[2016-01-25 22:44] neynah opened #44 "URL to non-existing app displays nothing"
As discovered by @zarvox.

![image](https://cloud.githubusercontent.com/assets/855341/12567036/d050fcb6-c371-11e5-8c30-1d15724ec172.png)

At the very least it should display our 404
![image](https://cloud.githubusercontent.com/assets/855341/12567084/048165f2-c372-11e5-95f6-bcbc78b72ffe.png)

[2016-01-26 02:43] zarvox opened #45 "Buttons in topbar are oddly placed/clipped"
I'd expect "Featured" to be further left, and "More" to not flow into the search bar.

![pixels1](https://cloud.githubusercontent.com/assets/307325/12571179/67aa6752-c393-11e5-988e-9deaa516aa0b.png)

[2016-02-06 22:10] paulproteus opened #48 "In app market, each app should be a regular A HREF so people can right-click, open in new tab"
A friendly user named Markus emailed to request this.

[2016-02-06 22:35] dwrensha commented on #48
Dupe of #32?

[2016-02-10 09:48] toupeira commented on #48
Indeed a dupe, you may close this one.

[2016-02-10 12:42] #48 closed

[2016-02-12 22:34] neynah commented on #45
I've fixed this in #43 but it's possible there may be some clipping on mobile (I've only tested mobile width in the browser). This should be closed for now until.
![image](https://cloud.githubusercontent.com/assets/855341/13022344/97d7e430-d195-11e5-87bd-32d5f7a609b3.png)

[2016-02-12 22:37] neynah commented on #16
Fixed!

[2016-02-12 22:37] #16 closed

[2016-02-12 22:53] paulproteus commented on #45
Closing per @neynah request!

[2016-02-12 22:53] #45 closed

[2016-02-12 22:53] paulproteus commented on #40
Closing per @neynah request!

[2016-02-12 22:53] #40 closed

[2016-02-12 22:53] paulproteus commented on #41
Closing per @neynah request!

[2016-02-12 22:53] #41 closed

[2016-02-25 21:28] paulproteus opened #51 "Add META SUMMARY etc. to app market"
Rationale:

- It would be super nice to feature every app from it's capnp short description + logo.

- Context of request: @synchrone (an app author), at http://logbot.g0v.tw/channel/sandstorm/2016-02-25#136

Details:

- Maybe we can start doing server-side rendering of the app pages.

[2016-02-25 21:30] paulproteus commented on #51
See also opengraph metadata, e.g. https://blog.kissmetrics.com/open-graph-meta-tags/

[2016-02-25 21:52] zarvox commented on #51
FlowRouter has support for server-side-rendering, but only if you're using ReactLayout: https://github.com/kadirahq/flow-router/tree/ssr

We'd probably also have to do something about the fact that the app market server doesn't actually have a copy of the app index data to work with, which means it can't really render anything useful.  So there'd be some work to integrate fetching (and caching?) t

[2016-02-26 03:06] kentonv commented on #51
In retrospect, perhaps doing the app market as a Meteor app (rather than static content) was a mistake.

[2016-02-26 08:11] paulproteus commented on #51
Yeah - I think for this project, if we had gotten the feature set we had
hoped for, then dynamic would have been essential. We do still have the
ratings, though.

But anyway.

[2016-02-29 03:48] simonv3 commented on #35
+1. This would make finding apps from in history a lot easier (eg. in browser search bar suggestions)

[2016-03-03 07:36] ocdtrekkie opened #54 "Reviews should be in newest-first order"
Stale reviews about broken functionality can appear first listed on an app review, with no way for people to guess/figure that the issue might be fixed.

See Lychee and Radicale for examples.

[2016-03-25 19:35] neynah opened #55 "App Market list loses scroll position"
(Submitted by @kpreid [here](https://github.com/sandstorm-io/sandstorm/issues/1678))

Go to https://apps.sandstorm.io/
Scroll down.
Click on an app to get the details.
Go back.
The scroll position is lost.
This is especially annoying on small (phone) screens.

(Please consider having the server actually deliver the list in HTML. Then the layout will be prompt so this won't happen, and it's friendl

[2016-03-30 23:13] neynah commented on #15
During user tests, I've seen multiple users click on the arrows. :( We should fix this eventually.

[2016-03-30 23:16] paulproteus commented on #15
This is w/r/t the screenshot carousel toward the top of the app market
page, right?

Presumably you want them to display if and only if there are more
screenshots to see? Just trying to make sure I understand the request.
Thanks for filing this issue; user testing is a powerful tool.

[2016-03-30 23:38] neynah commented on #15
@paulproteus Yes, the arrows on the left and right of the screenshots section. They should only display if there are more screenshots to see. :)

[2016-03-30 23:48] paulproteus commented on #15
Two thumbs up.

[2016-03-31 18:21] neynah commented on #4
I don't have any additional information / status update on this other than 80%ish of users testing have noticed it. Some have displayed frustration at not being able to read the full text. I'll probably poke at it tomorrow.

[2016-04-11 22:13] paulproteus commented on #19
Per https://apps.sandstorm.io/app/nqmcqs9spcdpmqyuxemf0tsgwn8awfvswc58wgk375g4u25xv6yh I believe this is no longer true, so I will close this issue for now. There _is_ probably an underlying code bug where if an app has no "Categories", then the display gets weird in the way described in this ticket.

[2016-04-11 22:13] #19 closed

[2016-04-11 22:15] #15 closed

[2016-04-15 02:17] kentonv commented on #19
I believe this is a bug I actually did fix, FWIW.

[2016-04-21 04:25] ocdtrekkie commented on #44
I experienced this today. Because I uploaded the dieStorm package, and noticed it's app page has an App Market link, though it's not on the store. I click things, @paulproteus

[2016-05-20 22:40] paulproteus commented on #29
Related note to self for implementing this - screenshot of me fiddling with review length in the DOM inspector.

![screenshot from 2016-05-20 15 40 12](https://cloud.githubusercontent.com/assets/25457/15443976/3307c602-1ea1-11e6-8de6-1eca5c32f9ae.png)

[2016-06-10 20:06] neynah opened #59 "Reviews could be improved for clarity"
Current UI is confusing:
![image](https://cloud.githubusercontent.com/assets/855341/15977171/0f74a23e-2f0c-11e6-850c-3a87f98ead85.png)

@paulproteus & I propose having 4 rating values:

2 thumbs up
1 thumb up
1 thumb down
2 thumbs down

- Ratings bar will only display positive versus negative.
- A further breakdown of all 4 values will be displayed on the apps detail page.
- Existing "it's broken"

[2016-06-17 00:18] paulproteus opened #61 "App market homepage says "Featured apps" but it is really all apps"
Steps to reproduce:

- Go to https://apps.sandstorm.io/

- Ask Asheesh, "Is there a way to see a list of all apps?"

- Have Asheesh tell you, "Yeah, go to the homepage of the app market."

Expected behavior:

- The front of the app market would say "All apps"

Actual behavior:

- The front of the app market says "Featured apps"

[2016-07-15 17:06] paragjoshi opened #65 "Piwik failing to install"
After installing piwik, when I click to create a new grain (Untitled), it keeps hanging with spinning circle for many minutes. Then I checked debug log and it says "waiting for mysql to be available at /var/run/mysqld/mysqld.sock"

[2016-07-15 17:14] paragjoshi opened #66 "Various screenshots too small"
Check Apache Wave and Telescope Nova. They are not readable.

[2016-07-15 17:18] ocdtrekkie commented on #65
You may wish to file a bug about Piwik against the GitHub repository for Piwik on Sandstorm: https://github.com/zarvox/piwik

[2016-07-15 17:18] paragjoshi commented on #66
"Let's Chat" image is also too small.

[2016-07-15 17:20] ocdtrekkie commented on #66
I meant to say that if this was an app market issue, that you couldn't make screenshots larger, you would report it here. Apps choosing to offer small screenshots is not a bug with the app market. You could potentially visit the apps' source links (found in the app market) and file issues requesting larger screenshots, though I know there is actually a file size limit on metadata, and metadata inc

[2016-07-15 17:20] ocdtrekkie commented on #61
This was fixed by https://github.com/sandstorm-io/sandstorm-app-market/pull/62

[2016-07-15 17:22] paulproteus commented on #61
Thanks for noticing, @ocdtrekkie ! Marking as closed now.

[2016-07-15 17:22] #61 closed

[2016-07-15 17:45] paragjoshi commented on #66
You may feel that it is not an issue caused by sandstorm app market. But, it does affect overall user experience of app market. Maybe you should include it as a requirement in app submission guideline that all screenshots should be readable or big enough. I assume you would have some sort of quality metrics before accepting submission to app store.

[2016-07-15 17:49] ocdtrekkie commented on #66
It's actually a mild irritation to me that some apps don't even _have_ screenshots. ;)

AFAIK, the Sandstorm team does need to accept app updates, but beyond the technical requirement that they work, aren't particularly demanding. As an open source platform, it's questionable what level of requirements the maintainers should have.

As a note to the use of the pronoun 'you', I do want to clarify th

[2016-07-15 18:03] paragjoshi commented on #66
If there are issues with file size limitation, to keep app package small, maybe the screen shot images should be kept as a reference URL instead of putting images in package.

App market is now large enough where a little bit of quality control might help especially since there are several apps offering similar functionality or in the same category.

As a long time open source engineer, I have alw

[2016-07-15 21:33] zarvox commented on #65
Closing in favor of zarvox/piwik#6

[2016-07-15 21:33] #65 closed

[2016-07-26 16:53] paulproteus commented on #18
@neynah is your question here a permission-to-use (e.g. copyright) question on the origin of the purple thumb? If so, I can look into it.

[2016-07-26 16:54] paulproteus commented on #20
@neynah seems reasonable to me. What should it do instead?

[2016-07-26 16:55] paulproteus commented on #18
If we can figure out what this should look like, then it should be quite feasible for me to implement any desired change this week.

[2016-07-26 16:57] paulproteus commented on #44
Thanks for filing it & commenting, all! I'll try to look into it this week.

[2016-07-26 17:10] paulproteus commented on #59
Hi @neynah - proposed process:

- I assign this to you
- You create mockups that visually express what is written in the bullets
- I read the mockups and once I understand them, I assign back to me
- I implement, then get your +1 on the implementation, then deploy

I'll begin by assigning to you now; let me know if that's a sensible process.

[2016-07-26 17:40] paulproteus commented on #18
Assigning to @neynah to indicate that I can't make progress without input.

[2016-07-26 17:40] paulproteus commented on #20
FWIW, a mockup would be very helpful to help me address this.

Assigning to @neynah to indicate I can't make progress without input.

[2016-07-26 17:51] paulproteus commented on #4
Assigning to myself because I should be able to fix this promptly, or at least provide a v1 that @neynah wants to re-style.

[2016-07-26 18:02] #44 closed

[2016-07-26 19:48] #35 closed

[2016-07-26 19:55] paulproteus commented on #35
The fix for this is now live. Examples:

- https://apps.sandstorm.io/app/h37dm17aa89yrd8zuqpdn36p6zntumtv08fjpu8a8zrte7q1cn60 has a title of "Etherpad - Sandstorm App Market"
- https://apps.sandstorm.io/ has a title of "Sandstorm App Market"
- https://apps.sandstorm.io/genre/Productivity has a title of "Productivity - Sandstorm App Market"

Thanks all for filing the bug, commenting, and GitHub-rea

[2016-07-26 20:44] #32 closed

[2016-07-26 20:51] paulproteus commented on #32
Resolved now. You can test by visiting https://apps.sandstorm.io/ and:

- Right-click, open in new tab nearly anywhere: This will do what one expects.
- Click "Install". This will still install the app.
- Click on the ratings area. This will navigate to the ratings area.

[2016-07-26 21:46] neynah commented on #59
Review bar:
- Scrap the thumbs sandwiching the review bar
- Use green(#338956) & grey(#d8d8d8) only
- Display "% positive" text instead of displaying percentage of each section
- Change (count) text from purple to #a8a8a8

Write a review:
- Remove disclosure triangle
- Add review buttons to the right of "Write a review". Clicking on one of these will toggle the review input box & buttons below. On

[2016-07-26 21:51] ocdtrekkie commented on #59
I guess the main loss with that proposal @neynah is it will obscure the number of reviews given each particular rating. I think that's _probably_ okay, but my question is, how will it be represented that say something with a -1 and three -2s should have a lower overall rating than an app with three -1s and a -2? Will the % positive rating be weighted to that at all?

[2016-07-26 23:10] paulproteus commented on #34
Adding to this week's TODO since I just realized we _do_ have this info in the sandstorm-pkgdef.capnp

[2016-07-26 23:10] paulproteus commented on #34
Assigning @neynah because I need a mockup :)

[2016-07-26 23:13] paulproteus commented on #54
Assigning @neynah since she said she'd make a mockup of this.

[2016-07-26 23:29] paulproteus commented on #59
@neynah & @zarvox & I discussed this a little more; new mockup coming soon.

[2016-07-26 23:30] paulproteus commented on #4
I've created a v1 that @neynah can re-style on her own, so I'm going to assign to @neynah now.

[2016-07-26 23:35] paulproteus commented on #4
For @neynah 's benefit here's how I'm adding reviews locally:

[code]

This makes a review show up on the Wekan page.

[2016-07-26 23:55] neynah commented on #59
To reduce confusion, let's assume the mock-ups above along with the notes are no longer relevant. Proposed changes are as follows:

Review bar:
- Scrap the thumbs sandwiching the review bar.
- Use green(#338956) & grey(#d8d8d8) only.
- Display "% [thumb up]" instead of displaying percentage of each section. Label font color: #6d627c.
- Move count text to be displayed inline with "Reviews" header.

[2016-07-27 00:10] ocdtrekkie commented on #59
I like this mockup a fair bit. The prompts for "Amazing"/"Good"/"Not so good"/"Needs fix" are worthwhile and worth keeping. (Star ratings are mystical and hard to understand.)

[2016-07-27 00:24] paulproteus commented on #59
@neynah OK, I believe this covers everything. I'll implement it and push it, so I'm now assigning back to me. I'm very very glad that we found a UI paradigm that makes good use of the four different kinds of review that we offer.

[2016-07-27 17:01] paulproteus commented on #59
I'm turning this into a checklist for myself, as a reading comprehension exercise, and so I can click the checkboxes as I make these changes. All y'all can feel free to ignore this task list; it's just for me, but I need to have it somewhere, so I figured might as well have it here.

Review bar:

- Let's define "the horizontal wide rectangle with part-green part-gray" as "The review bar." It appea

[2016-07-27 22:56] neynah commented on #59
My bad, this is an artifact from my previous comment I forgot to omit. Yes you're right there's only 1 thumb displayed. :D

[2016-07-28 06:35] paulproteus commented on #59
Status report:

I have this implemented now, except two parts that I'll look into tomorrow.

- I probably broke actually submitting a review.
- I'm slightly worried I screwed up the colors on one task.

That should be easily fixed tomorrow as well.

[2016-07-28 06:47] paulproteus commented on #59
Current code is in a branch pushed to this repo called wip-issue59 - https://github.com/sandstorm-io/sandstorm-app-market/tree/wip-issue59

Don't bother using it yet until I fix the above issues, but at least now the work is somewhere safe.

[2016-07-28 06:48] ocdtrekkie commented on #59
Well, as safe as can be on a site currently missing the last fourteen days of activity feed. ;)

[2016-07-28 16:54] paulproteus commented on #18
I think that the UI questions here got blended into #59 so I'll self-assign. Once #59 goes out, I'll ask @neynah if she is satisfied.

[2016-07-28 16:57] ocdtrekkie commented on #54
As a note on this one, @paulproteus, even just reversing the order of review display so the newest reviews display first would fix like 80% of the concern. Adding the version is a nice-to-have, since people could compare the review date and the last updated date.

[2016-07-28 17:11] paulproteus commented on #54
Splitting the issue, then, to make it easier to implement half of this request!

[2016-07-28 17:25] paulproteus opened #71 "Reviews should specify the app version they apply to"
Context:

- As a user of an app, I want to have a sense of which reviews are relevant to me consuming the latest version of an app.
- As an app author, when I fix a bug in an app and push a review to the app market, the pain of seeing bad reviews that no longer affect my users is diminished.
- #54 requested newest-first as well as this feature; I'm splitting the version-number stuff into this sepa

[2016-07-28 19:50] neynah commented on #71
Just an editable field of text. Perhaps we should allow users to submit it with an empty field (in the case where they may not know the version number)?

![app-market-review-version](https://cloud.githubusercontent.com/assets/855341/17227170/deefe840-54c1-11e6-8f84-a93f787d34c8.png)

[2016-07-28 19:53] ocdtrekkie commented on #71
Does this need to be editable, or should it just use the current appMarketingVersion? People generally should not be submitting reviews on old versions of an app.

[2016-07-28 20:43] neynah commented on #20
Not sure why I said "animation" but what I really mean is hover. Hover colour is a subtle #f7f3fa.

![app-market-hover-1](https://cloud.githubusercontent.com/assets/855341/17228684/dfe7d486-54c8-11e6-9392-f3e974b30663.png)

[2016-07-28 20:52] neynah commented on #34
Always order this button last (to the right). Hover fill colour: #f7f3fa

![app-market-report-issue](https://cloud.githubusercontent.com/assets/855341/17229014/84e34fbe-54ca-11e6-8567-a1d94c1a9561.png)

[2016-07-28 21:06] paulproteus commented on #59
Questions for discussion with @neynah :

- After one submits a review, should the text "Write a review" change to "Edit your review" or something like that? Rationale: Clicking one of the buttons will begin editing your review, which might not be what you expect.
- When selected vs. deselected, the four buttons don't seem to me to be high-enough contrast.
    - Related: "Add buttons for each of th

[2016-07-28 21:32] paulproteus commented on #59
- [ ] On hover for Submit Review, use same bgcolor as hover for Demo
- [ ] Set the submit button to have margin-bottom 0.8rem;
- [ ] The thumbs-down in the review buttons, and the thumbs down in the list of reviews, should be `#777777`
- [ ] When you show up to e.g. http://localhost:3000/app/m86q05rdvj14yvn78ghaxynqz7u2svw6rnttptxx49g1785cdv1h and you haven't clicked any of the 4 buttons, then the

[2016-07-28 21:44] paulproteus commented on #59
- [ ] Add a "Cancel" button while doing editing
- [ ] Change the behavior of other buttons so that there they don't cancel; only the cancel button cancels
- [ ] In the case that you already have a review, show "Edit review :arrow_down:" where ":arrow_down:" is a disclosure triangle, but when you click it, the words "Edit review" vanish and you're left with the existing editing interface.

[2016-07-28 22:05] neynah commented on #18
I think we should actually just use the icon we own is what I mean.

[2016-07-28 22:53] paulproteus commented on #59
IMHO this change:

is going to make people want a "Logout" and "Login" button on the app market.

[2016-07-28 23:23] #59 closed

[2016-07-28 23:26] paulproteus commented on #18
This is now resolved as part of #59.

[2016-07-28 23:26] #18 closed

[2016-07-28 23:48] paulproteus commented on #20
@neynah I was not able to get that 1-2px top white, but I am able to get you that background hover color. Since I got your verbal approval, I'm going to ship it with the background hover color and no top white part.

[2016-07-28 23:49] #20 closed

[2016-07-28 23:51] paulproteus commented on #34
FWIW those three icons (HTML tag icon, globe icon, github icon) all go to the _author_'s keybase-verified identity place, stuff for the _app_.

If you are surprised by that, well I agree it's surprising. :) However, i think adding `Report issue` next to those is even more surprising.

Curious for your thoughts on that.

[2016-07-28 23:51] paulproteus commented on #34
Oops I forgot an all-important **not** above. Fixed.

[2016-07-28 23:51] paulproteus commented on #34
Perhaps that means we should put those HTML tag icon, globe icon, github next to the author's name. (Also to be pedantic/clear, this is the packager, not the upstream author.)

[2016-07-29 00:04] neynah commented on #34
@paulproteus You're right it actually is surprising that these are author links and not app links. Maybe what we need to do is shift the author links to be displayed by the author name and have the app links displayed in the regular spot on the right.

[2016-07-29 00:15] paulproteus commented on #4
Closed in #78 by @neynah

[2016-07-29 00:15] #4 closed

[2016-07-29 00:16] ocdtrekkie commented on #4
I am super excited this issue is closed. You get a Hooray reaction.

[2016-07-29 00:41] paulproteus opened #81 ""Be the first to rate" has become ugly on the single-app page"
Screenshot for reference:

![screenshot from 2016-07-28 17 40 05](https://cloud.githubusercontent.com/assets/25457/17234104/682fe59c-54ea-11e6-81dd-64a18c3dee94.png)

[2016-07-29 01:04] paulproteus commented on #81
Adding it to this week's milestone because design regressions are a no-no.

[2016-07-29 02:16] #81 closed

[2016-07-29 18:05] paulproteus commented on #29
@timmc would it be an OK solution for now if we configure the textarea to have a maximum length of 500? This wouldn't be stated anywhere, but you would at least be forced to stop typing by the web browser before making it longer than 500, which would avoid the weird problem where the "Submit" button gets grayed out and you don't know why.

[2016-07-29 18:25] timmc commented on #29
Yep, totally works as an intermediate fix!

[2016-07-29 19:07] #12 closed

[2016-07-29 19:10] paulproteus commented on #29
Then I'll close this issue as a success. @timmc thanks so much for filing it, and for being patient with us as we got around to fixing it over the course of time!

[2016-07-29 19:10] #29 closed

[2016-07-29 19:12] #2 closed

[2016-07-29 19:29] zarvox opened #88 "Search highlights should match case-insensitively"
When I search for "board", it highlights the text "board" in Wekan and Scrumblr, but not "Board" in Go or Game of Y.  Ideally, all four would be highlighted.

![screenshot1](https://cloud.githubusercontent.com/assets/307325/17260921/f92956c6-5587-11e6-8f18-afaf992f2e0d.png)

[2016-07-29 20:27] #88 closed

[2016-07-29 20:35] #54 closed

[2016-07-29 20:38] paulproteus commented on #34
Currently waiting on @neynah for a fresh mockup.

[2016-07-29 20:39] paulproteus commented on #34
As another update here: The Sandstorm shell does heuristics based on "Oh it's a GitHub codeLink so I'll generate a `/issues` link", and I'll use the same logic in the app market.

[2016-07-29 22:26] paulproteus commented on #34
@neynah provided me a mockup, which I'll provide here and then leave commentary:

![app-market-app-details-revision](https://cloud.githubusercontent.com/assets/25457/17264983/d4aa09f4-559f-11e6-8ee9-20fe0fc76a79.png)

Remarks from her & me conversation:

- Only look at the top-right, for the purpose of this issue.
- The "Upstream author" section is pale for no good reason. Pretend it's not pale.
-

[2016-07-29 23:37] paulproteus commented on #34
I'm going to skip the email-address based ways of reporting issues for now, and only support GitHub here.

[2016-07-29 23:39] #34 closed

[2016-07-29 23:44] paulproteus commented on #34
This is now live. You can see it at this link (for example):

https://apps.sandstorm.io/app/m86q05rdvj14yvn78ghaxynqz7u2svw6rnttptxx49g1785cdv1h

You can see the new location of "upstream author" here (for example)

https://apps.sandstorm.io/app/h37dm17aa89yrd8zuqpdn36p6zntumtv08fjpu8a8zrte7q1cn60

[2016-07-30 04:43] paulproteus opened #95 "App long descriptions briefly flash "[Object object]""
Steps to reproduce:

- Visit https://apps.sandstorm.io/

- Stare intently at the area that will, soon, say "Wekan is an open source and collaborative kanban board application."

Actual behavior:

- Reload a few times until you see a brief flash of [Object object] where the text would appear, which is quickly replaced by the text.

Expected behavior:

- No such flash of JS internals shows up.

[2016-07-30 04:45] paulproteus opened #96 "On front page, the text "All apps" appears before the app cards"
Steps to reproduce:

- Set Chromium to "GPRS" network emulation

- Load https://apps.sandstorm.io/

Expected behavior:

- If the words "All apps" appear, then all apps also appear

Actual behavior:

- "All apps" shows up for about 3 seconds, _then_ all the apps show up

[2016-07-30 04:47] ocdtrekkie commented on #95
I did notice that a few times before. Didn't report it. :/

[2016-07-30 04:49] paulproteus commented on #95
I've noticed it a lot, too, and also didn't file it.

It came up in a conversation today so I figured I should file it (and then
fix it)!
​

[2016-07-30 05:08] #95 closed

[2016-07-30 05:09] paulproteus commented on #96
Closed by #97

[2016-07-30 05:09] #96 closed

[2016-08-01 21:11] ocdtrekkie opened #98 "Empty market can hang on "Loading...""
I blame @paulproteus because this is likely caused by: https://github.com/sandstorm-io/sandstorm-app-market/commit/5baa0a1802574c4b05da678664a82b0053b20340

Looks like @jparyani JUST pushed TTRSS into the Experimental page, but when that's not there, the Experimental market hangs on "Loading..." because there are not apps.

https://apps.sandstorm.io/?experimental=true

[2016-08-01 21:22] paulproteus commented on #98
Yeah - agreed. I thought that 0 apps would never occur in reality, but I now see that it _can_ occur in reality. I'll self-assign to indicate that I aim to fix this in the next two weeks.

[2016-08-05 18:22] ocdtrekkie opened #99 "Edge, 1607 build, insists browser downloads from app index are text files."
If you try and open this URL in Edge, it offers to download as a text file, but it is in fact the app package: https://app-index.sandstorm.io/packages/efbc8d5c9586acc919ccbeca1cd18f2e

Annoyingly Edge doesn't let me tell it to save as something else and I have to rename it later. I am not sure if there is a good solution to this, if the market can offer me a .spk filetype specifically perhaps, or

[2016-08-05 18:25] ocdtrekkie opened #100 "Feature Request: Download button for app packages"
_With #99, my hacky method of downloading app packages is degrading. As it is, I have to click install, right click my Sandstorm server to get the URL, and grab just the URL that references the package I want from the app index. I then have to rename them to something sensible and add the .spk extension, but now my browser wants to put a .txt extension on it._

My thought is that especially for co

[2016-08-09 15:21] kpreid opened #101 "Add app list sorting options."
I'm moving some grains to a new server. This means I have to manually install every app used by one of the grains, [which is annoying](https://github.com/sandstorm-io/sandstorm/issues/1496), but beside the point for now.

The problem is that the list in the app market appears to be in random order and there are no sorting options, so it's hard to skim and find the app I know should be there.

Plea

[2016-08-12 21:52] kentonv commented on #99
The file has `Content-Type: application/octet-stream`, which is the standard way to say "this is a binary blob". If it were text, the type would be `text/plain`. So, I think Edge is buggy here.

It's possible that a `Content-Disposition` header could help Edge choose a better filename. However, these files are being served through Sandstorm's static web publishing, which currently doesn't offer th

[2016-08-12 21:54] kentonv commented on #100
This might be as simple as adding a link with a `download` attribute to specify filename: `<a download="whatever.spk" href="...">`

[2016-08-12 22:52] ocdtrekkie commented on #99
I have tweeted at a Edge person who has been super helpful before to ask about this issue.

[2016-08-12 22:59] ocdtrekkie commented on #100
I suspect that's true, @kentonv though it may need some design opinion from @neynah. Maybe could use the "download backup" icon from Sandstorm? I am torn between suggesting that it merely needs the icon in a small button next to install, because it's less likely to be used and download icons are relatively well understood, or if it needs a full "DOWNLOAD" button and icon like the Install one.

[2016-08-15 02:51] neynah commented on #100
Something like this?

![image](https://cloud.githubusercontent.com/assets/855341/17654461/1a1e378e-6258-11e6-9c0e-a9eb90159933.png)

Even with the prominent "Install" button I am slightly concerned though that some users may think they need to "Download" the package to use the app and then not know what to do with the package. Perhaps we can have a short string to explain.

[2016-08-15 03:15] ocdtrekkie commented on #100
I think the Install is definitely prominent enough there, but an alternate idea: When you click install, and get the option to select your server, there could be a "download the SPK file instead" option. As a side perk, then people following the install flow from their Sandstorm install wouldn't actually see that option, just people who go to apps.sandstorm.io directly.

[2016-08-16 23:59] ocdtrekkie opened #102 "Strip links from featured item description"
So I was totally clicking about the app market, and absolutely baffled how I ended up on some weird "OpenAPI" page. Turns out, when I clicked on the Swagger box, it took me there, because this link actually becomes a link on the New & Updated page, since Swagger is the newest updated app.

I love that app descriptions can contain links, and I hope it never goes away. But I'd really like to not sud

[2016-08-17 00:04] paulproteus commented on #102
FWIW you and @kentonv disagree on this point. :)

[2016-08-19 21:19] kentonv commented on #102
@paulproteus We do? I don't remember this coming up. What did I say?

I think my current opinion is that the summary card (as screenshotted) ought to de-linkify the text. Actually we've also had problems with headings and such looking wrong there, so this is just one of several formatting changes that should happen specifically for these cards...

[2016-08-22 06:42] paulproteus commented on #98
De-assigning to state the truth that I haven't fixed this yet, and it's not urgently on my radar. I hope to fix it soon, though.

[2016-08-22 18:02] paulproteus commented on #102
See #27 for past discussion. In that one, @zarvox and @kentonv seemed to express a preference for retaining A HREF tags within this summary card, and @neynah seemed to express a preference for removing external links from summary cards.

[2016-08-22 18:12] ocdtrekkie commented on #102
I am inclined to close this as a dupe of #27, which I did not see when I opened this.

[2016-08-22 18:12] #102 closed

[2016-08-22 18:12] ocdtrekkie commented on #27
I am of the notion this behavior is weird and confusing.

[2016-08-22 18:29] neynah commented on #27
After some thought I think I agree with @ocdtrekkie here that the behaviour is weird. While hovering between the link and the rest of the app card there is no indication that clicking on the link would take you anywhere different. We should strip the link.

[2016-08-22 18:57] neynah opened #103 "UI for leaving reviews is broken on smaller screens"
We failed to make this responsive. I'm happy to look into this if you don't want to @paulproteus.
![image](https://cloud.githubusercontent.com/assets/855341/17867479/8a680ac6-685f-11e6-9b7c-14561d750fb7.png)

[2016-08-22 19:12] paulproteus commented on #103
Wow, yeah.

I just looked into it, and this isn't the only weird UI on the app market on narrow screens. If you can try to find as many such ugly screenshots as you can, then we can fix a larger number of issues in the same amount of time.

Any chance you could that? :)

[2016-08-22 19:21] paulproteus commented on #27
FWIW it'd be "easy" to fix this bug by adding a CSS rule like:

[code]

but I agree that it's smarter to remove the linkification in this summary card entirely.

[2016-08-22 20:01] neynah commented on #103
@paulproteus For sure. I'll do that now.

[2016-08-22 20:26] neynah commented on #103
Mobile issues:
1. App title & links fall off the screen
2. Can't click on app screenshot
3. 0 results search results text is cut off

![image](https://cloud.githubusercontent.com/assets/855341/17870322/e5e236f4-686b-11e6-8d88-942c9697f233.png)

To-do for me (sometime today):
- Mock-up what 1 & 3 should look like.
I assume 2 is straightforward enough but let me know otherwise.

[2016-08-30 18:43] neynah commented on #103
Totally dropped the ball on this. I will mock-up 1 & 3 this week (by Friday).

[2016-09-12 17:58] paulproteus commented on #66
Hi @paragjoshi ,

I totally agree that overall user experience of the app market is improved by great screenshots. I wholeheartedly agree with you that people judge Sandstorm on the quality of the apps, and they judge the quality of the apps via the screenshots before even installing the apps.

Furthermore, I think that it's a growth problem for the Sandstorm community that app screenshots are onl

[2016-09-15 23:18] ocdtrekkie opened #105 "Screenshot for Simple Chat doesn't work right"
Tested on Edge and Firefox. Clicking the screenshot makes the correct one appear.

![image](https://cloud.githubusercontent.com/assets/4399499/18570566/b4339950-7b70-11e6-9b93-49ef43e41980.png)

[2016-09-17 03:15] kentonv commented on #105
It seems to be displaying only the middle part of the screenshot, probably to avoid having it look squished due to aspect ratio differences. But there's no content in the middle of this particular screenshot...

[2016-09-19 18:20] #105 closed

[2016-09-19 18:26] paulproteus commented on #105
https://apps.sandstorm.io/app/yp9xt15y8s0rsuntnhgnr510qpcvm2tatd9mn1gzwr2au8h2n4p0 has this deployed now. I think we also need `background-repeat: no-repeat;`

@zarvox any chance you can take a look at that and see if that's the right fix?

Screenshot attached of what I see.

Before click on the icon (has unnecessary repetition)

![screenshot from 2016-09-19 11 26 03](https://cloud.githubuserconte

[2016-09-19 18:30] paulproteus commented on #105
I think that the one-line fix would work fine. I can self-assign. I'll test it first.

[2016-09-19 18:31] zarvox commented on #105
You'll want the one-line fix in the two files that I changed, yes.

[2016-09-19 18:40] paulproteus commented on #105
We both tried to fix it at once, and I preferred your patch since you had already tested it, and besides, I had already asked you for it, and also your patch was better than the one I had made.

I'll close now that this is live. Thanks, all!

[2016-09-19 18:44] paulproteus commented on #105
...OK it was auto-closed by the git merge, so I'll _leave it closed_ now. Thanks, all.

[2016-09-30 06:09] ocdtrekkie opened #108 "Back button doesn't close zoomed in app screenshots"
-Click on an app screenshot so it centers and zooms in on the screen.
-Hit back.
-Notice the screenshot is now in front of the app list page.

Really weird. Hitting the back button should close the screenshot overlay.

[2016-09-30 22:26] neynah opened #110 ""Edit review" doesn't display after you've added a review"
After leaving a review, the UI for "Write a Review" still displays until you refresh/revisit the page. The text should say "Edit Review" immediately after you've left a review.

![image](https://cloud.githubusercontent.com/assets/855341/19008685/c56350b4-8721-11e6-9ab6-41702db8eaa3.png)

[2016-10-04 00:58] #103 closed

[2016-10-14 17:50] neynah opened #111 "Proposed login improvements"
Currently users need to log in to the App Market to leave a review- even if they're already signed in to Oasis. Ideally they should not have to log in to the App Market again if they've already signed in to Oasis.

At the very least (as a half-measurement) we should enable email log in as currently we only have github & google log in options.

![image](https://cloud.githubusercontent.com/assets/85

[2016-10-18 23:05] neynah commented on #101
+1. I've had a couple users (in testing) mention that the apps seem randomly sorted. We have so many apps already(64) that it's overwhelming to skim through the front-page. As we get more apps it will become increasingly difficult for users to find the apps they're looking for and also discover apps (in a given category) with our existing design.

There are some things we should do to address this

[2016-10-21 02:19] kentonv commented on #111
Arguably the app market should be a Sandstorm app running on Oasis via a standalone domain!

::ducks::

[2016-10-24 23:19] neynah opened #116 "Search should be accessible even on small screens (like iPhones)"
Search bar dissapears at 320px but I think we can still fit it in with some tweaking.

Screenshot of current UI on iPhone5:
![image](https://cloud.githubusercontent.com/assets/855341/19667370/55044a16-9a05-11e6-875c-72bac8d21571.png)

[2016-10-28 18:25] paulproteus commented on #111
re: App Market as Oasis standalone domain app:

Important cons:

- I guess the main showstopper right now is presumably SEO. We can maybe test this?

Other not-quite-as-important issues:

- I'd personally want an automated deploy flow, which Sandstorm doesn't currently provide as a supported feature. However, I could probably hack it! I could write some automation that calls Meteor methods, which

[2016-10-28 18:31] kentonv commented on #111
I don't think it would actually work right now. Maybe it's not that far from working but probably not something to spend time on right now.

[2016-11-19 01:44] neynah opened #119 "Proposal for new footer design"
Goals:
- Communicate that apps can be [packaged](https://docs.sandstorm.io/en/latest/developing/) for our App Market
- Give visibility to app packaging services (this will go to "mailto:" but I'm open to other suggestions; perhaps setting up a Quick Survey form)
- Provide a paths for [Sandstorm.io](https://sandstorm.io/), [/get](https://sandstorm.io/get), and [/developer](https://sandstorm.io/deve

[2016-11-19 02:18] neynah commented on #116
Fixed by #43 I believe.

![image](https://cloud.githubusercontent.com/assets/855341/20452290/23d77fe8-adbb-11e6-9c90-7e502e1ed3ea.png)

[2016-12-06 18:56] #119 closed

[2017-03-10 03:10] MatheusRV opened #122 "App Comparison"
![appcomparison](https://cloud.githubusercontent.com/assets/23284276/23780413/93798514-0525-11e7-9983-ea089714285a.gif)

Code: https://github.com/codrops/ProductComparison/
Demo: https://tympanus.net/Blueprints/ProductComparison/

Comparison Data: https://www.slant.co/versus/1026/999/~grav_vs_wordpress
Maybe add Features, Pros and Cons in App Manifest.

[2017-03-10 03:14] MatheusRV opened #123 "View Mode Switch"
![viewmodeswitch](https://cloud.githubusercontent.com/assets/23284276/23780561/6ed0fafc-0526-11e7-960a-2160eb89fd39.gif)

Code: https://github.com/codrops/ViewModeSwitch
Demo: https://tympanus.net/Blueprints/ViewModeSwitch/

[2017-03-10 03:17] matbrgz opened #124 "Filter and Search App in Same Page"
![filterandsearch](https://cloud.githubusercontent.com/assets/23284276/23780638/d6317e60-0526-11e7-9334-be1b98c2a94f.gif)

Code and Live: http://codepen.io/c0d0er/pen/RGLxpQ

[2017-03-10 03:19] MatheusRV opened #125 "Off Canvas Menu"
To a nice app genre presentation

![mar-09-2017 18-49-45](https://cloud.githubusercontent.com/assets/23284276/23772362/75b74a92-04f9-11e7-9d0f-b78576ef15e5.gif)

Live: https://tympanus.net/Development/OffCanvasMenuEffects/index.html
Code: https://github.com/codrops/OffCanvasMenuEffects/blob/master/index.html

[2017-03-10 03:21] MatheusRV opened #126 "New App Categorization"
My Sugestion is:

Audio & Music
Backup & Sync
Business & Commerce
CD/DVD Tools
Development
Education & Reference
File Management
File Sharing
Games
Home & Family
Network & Admin
News & Books
Office & Productivity
Online Services
OS & Utilities
Photos & Graphics
Security & Privacy
Social & Communications
Sport & Health
System & Hardware
Travel & Location
Video & Movies
Web Browsers

[2017-03-10 04:01] ocdtrekkie commented on #126
Generally if you port an app that doesn't fit in the categories that already exist, it's easy to submit a PR to add an additional category to Sandstorm's package definition file. But it doesn't make sense to just make a bunch of empty categories.

[2017-03-10 04:52] MatheusRV opened #127 "Review post with app version"
When someone reviews an app add automatically the version he is talking about.

[2017-03-10 04:55] ocdtrekkie commented on #127
This is a duplicate of #71

[2017-03-10 04:55] MatheusRV opened #128 "App suggestion footer note"
Places at footer a link to right place to suggest an app.

[2017-03-10 04:56] MatheusRV commented on #127
Close it please.

[2017-03-10 04:56] #127 closed

[2017-03-10 04:58] MatheusRV commented on #71
@ocdtrekkie i think in automatically add version, not editable. Copy from app manifest and places at review metadata.

[2017-03-10 05:04] matbrgz opened #129 "Click Cursor and Link Style Bug When Mouse Hover an App"
Just a UX error, but when mouse hover the image not looking like a link, the app names have to has a hover effect and sometimes the mouse get click cursor on a place that isn't possible click.
![mar-10-2017 02-01-49](https://cloud.githubusercontent.com/assets/23284276/23782794/c6bad742-0535-11e7-8f04-63fa1ba26d7f.gif)

[2017-03-12 03:53] kentonv commented on #128
Hi @MatheusRV,

Thanks for the suggestion!

The best way to get a new app onto the app market is to package it. This is why the footer contains a link to documentation and resources to help with packaging apps.

While you _could_ suggest apps on the mailing list or IRC, the reality is that Sandstorm is a volunteer-driven project and there just isn't anyone with free time to package other people's

[2017-03-12 03:53] #128 closed

[2017-03-12 03:54] kentonv commented on #125
Sorry, I don't understand this bug. You are reporting a bug on the sandstorm app market, but the app market doesn't have a menu at all, so what are you suggesting, exactly?

[2017-03-12 03:57] kentonv commented on #126
Hi @MatheusRV,

Thanks for the suggestion, but we're happy with our current categorization.

[2017-03-12 03:57] #126 closed

[2017-03-12 03:59] kentonv commented on #123
Hi @MatheusRV,

While that is neat, we do not currently have the resources to devote to app market redesigns. But if you'd like to volunteer to work on it yourself, that would be cool! Come talk to us on the mailing list or IRC if so! https://sandstorm.io/community

[2017-03-12 03:59] #123 closed

[2017-03-12 04:01] kentonv commented on #122
Hi @MatheusRV,

While this could be cool, we are a long way away from the point where comparing apps in this way would make sense, and we don't have resources to devote to the app market currently. Again, if you're interested in leading app market development in new directions, let me know.

[2017-03-12 04:01] #122 closed

[2017-03-12 04:03] kentonv commented on #125
Ah, I think you meant to suggest this for Sandstorm itself. It looks like you brought this up here:

https://github.com/sandstorm-io/sandstorm/issues/1713#issuecomment-285495107

I'll close this thread since I think the other thread is the right place to discuss.

[2017-03-12 04:03] #125 closed

[2017-04-12 14:29] ocdtrekkie commented on #100
As a note, a user had this issue today and filed it against Wekan: https://github.com/wekan/wekan/issues/998

[2017-07-29 22:51] kentonv commented on #100
Fixed by #130.

[2017-07-29 23:02] #100 closed

[2017-08-29 18:55] timmc-bcov opened #131 "When viewing experimental apps, opening an app entry in a new tab fails with a 404"
On https://apps.sandstorm.io/?experimental=true I observe the following:

- Clicking on an app takes me to `https://apps.sandstorm.io/app/c70m9m4z44k26kr3z1f18ckt90rugtmcsdw0shf9m041usgrvufh?experimental=true`, which loads
- Middle-clicking on an app (or copying the URL) takes me to `https://apps.sandstorm.io/app/c70m9m4z44k26kr3z1f18ckt90rugtmcsdw0shf9m041usgrvufh` which is a 404 page

Looks like

[2017-08-29 19:11] ocdtrekkie commented on #131
Note that if you try this with Wekan, I believe it will not 404: It should just bring you to the published version instead of the experimental one with this bug. You get a 404 because Biandang has never been published before.

[2018-07-31 20:07] JamborJan opened #135 "Reply to reviews"
Not sure, if anybody is still listening to these issues here: is it somehow possible to answer to reviews on the app market? I would like to convert some bad reviews to issues on GitHub and solve them. For example for the Wordpress app.

[2018-07-31 20:10] ocdtrekkie commented on #135
Well, listening happens sometimes but nobody's working on app market code, sadly. :|

[2018-07-31 20:14] JamborJan commented on #135
Thanks. Then I try to do my best to make the apps better without that. I’ll leave it up to you to close this issue or to leave it open for someone who might work on it in the future.

[2018-07-31 20:16] ocdtrekkie commented on #135
I can't close issues, but I don't think it should be closed, you're not the first person to want this!

[2020-03-02 22:35] ocdtrekkie commented on #99
I am going to close this because the new Edge (Chromium-based) doesn't do this, and I doubt anyone cares about the old Edge long-term.

[2020-03-02 22:35] #99 closed

[2020-03-02 22:43] ocdtrekkie opened #136 "Feature to mark apps as deprecated"
The app market should have a way to mark an app as deprecated. Ideally, the holder of the packaging key should be able to deprecate an app from the `spk publish` command, and the app index admins should also be able to mark an app as deprecated.

A deprecated app should probably not be visible in the app market, if browsing it, but should be visible from it's exact app page link. A ?deprecated=tru

[2020-05-08 14:48] ankitmhn opened #137 "Unable to install apps from the app market on a fresh install of Sandstorm"
I have a fresh install of Sandstorm using sandcast. I'm not unable to install any apps from the app market (app.sandstorm.io), I get the following error:
[code]
Is there anything that I need to change in the configuation?

[2020-05-08 14:51] ocdtrekkie commented on #137
This sounds a little concerning to me, it's unlikely to be the app market's fault (the app market hasn't changed in a long time). @zenhack should probably be alerted to this. Do you have anything interesting in your sandstorm.log that shows up when you try to install an app.

[2020-05-08 14:55] ankitmhn commented on #137
The app market is fine because my other sandstorm instance, which is not a sandcast domain, can download apps from the market. I did notice though during installation that it was unable to download the defualt apps as well and they were marked as "failed".

Here's the full log thus far:
[code]

[2020-05-08 17:20] zenhack commented on #137
How much memory do you have in your machine? It looks like heap allocation is failing somewhere...

[2020-05-08 17:25] ankitmhn commented on #137
It's a 1Gig instance running on Digital Ocean.

[2020-05-08 17:32] zenhack commented on #137
That's probably your issue. 2GiB is enough for a small installation, but
you're likely to run into problems with 1GiB. I'm a little surprised
you're hitting memory issues just *downloading* apps though.

Quoting Ankit (2020-05-08 13:25:41)

[2020-05-08 17:36] ankitmhn commented on #137
Alright. I shall try increasing the RAM size and report back. I share your surprise though, since there's literally nothing else running on this server as I had intended to use this as sandbox for testing.

Thank you!

[2020-05-18 06:05] #137 closed

[2020-05-18 06:10] ankitmhn opened #138 "Error when building the app market using sandstorm-0-fast.tar.xz method."
I'm trying to build the app market using this method described in the readme:
[code]

I am able to generate the "fast" bundle in step 1 but when I run the make-bundle.sh in the app market repo, it throws the following error:

[code]
Attached is the npm-debug log if that helps.
[npm-debug.log](https://github.com/sandstorm-io/sandstorm-app-market/files/4642289/npm-debug.log)

[2020-05-18 07:29] zenhack commented on #137
Glad to hear it!

[2020-05-18 12:15] ocdtrekkie commented on #138
Fibers tends to spaz out if it isn't the version that matches the Node version you're using to build, and the Market isn't built too often, there's probably a bunch of package updates you need to get it running on the latest versions of Meteor and Node.

[2020-05-18 13:09] ocdtrekkie commented on #138
I might try `meteor update` and `meteor npm update` which is what Kenton runs to updated the dependencies on the main Sandstorm repo before releases, and see if that gets you anywhere. But I wouldn't be too shocked if there's some bitrot on this repo.

[2020-05-19 09:00] ankitmhn commented on #138
Thank you for pointing this out. I got it to build using Meteor v 1.10.2 and Node v 8.14.0. So effectively this issue is closed.

However, I'm not sure how to proceed from here - I have the `market.tar.xz` now with which I want to do a clean install of the app market. Tried the update using `sandstorm/install.sh market.tar.xz` but not sure it worked - the sandstorm installation is no longer access

[2020-05-19 15:00] ocdtrekkie commented on #138
The home page has some details, there are different places it says localhost:3000 or localhost:6082. But yeah, it looks like you have to run the app market on a different server than Sandstorm: "Our release process for the app market involves taking a Sandstorm bundle, ripping out the Sandstorm front-end, and inserting the App Market code in its place. It turns out the Sandstorm bundle-runner is a

[2020-05-19 16:29] ankitmhn commented on #138
I had run the "update" mechanism on my local machine that has a sandbox Sandstorm installation so I didn't loose anything. I do intend to install the app market on a "clean" server - so does that involve setting up sandstorm first and then running the update? If that's the case then I should have a running app market on the local machine based on the update I performed on it, right?

[2020-05-19 17:05] ocdtrekkie commented on #138
I think so? If you had just installed it as a Meteor app, it'd be on port 3000. I wonder if it's on port 6080 because you updated over Sandstorm? 6082 gets a mention in the readme too, but that relates to the GCE release method.

Bear in mind the other thing you need is an App Index specified in your settings.json, described in the readme. The App Index is part of the main Sandstorm repo, it's a S

[2020-05-23 16:28] #138 closed

[2020-08-05 04:55] ocdtrekkie opened #141 "Apps without market icons don't display"
This is mostly just an experimental market issue, but I found it odd that I can successfully submit an app without app icons (Sandstorm doesn't mind them, it generates randomish ones for it), but they won't display in the Experimental Market, despite being in the review interface of the App Index.

Ideally, we should lift the same icon generation scheme that Sandstorm uses (so it can ideally creat

[2021-04-29 02:27] ocdtrekkie opened #142 "Download spk button doesn't actually set filename"
So I noticed, the download spk feature is written to rename the spk to something reasonable, via the download attribute on the a tag: https://github.com/sandstorm-io/sandstorm-app-market/commit/ea4399471198f48ae2f09b397a9103477f6b9bf4

However, interestingly... it doesn't. I am assuming the issue is that we have a link, and then inside it, is a div button thing, and we're hitting the div button, n

[2021-04-29 03:13] ocdtrekkie commented on #142
It has nothing to do with the div, if you remove it the behavior is the same... I think the root of it is here: https://developer.mozilla.org/en-US/docs/Web/HTML/Element/a where it says "download only works for same-origin URLs, or the blob: and data: schemes."

app-index.sandstorm.io and apps.sandstorm.io are different origins, which is why that attribute doesn't work.

[2022-08-11 23:54] ocdtrekkie commented on #136
I'm pondering having a PR-updated list for this or something that would be quicker to implement, since we should not dedicate much/any effort into this particular app market, I think, and this should happen similarly infrequently to key replacements.

Currently I'd like to hide from the app list:

CodiMD
SandMD
MediaWiki (2016 version)

But still allow the pages to load if you navigated to them di